---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageTitle = "关于我";

const identity = {
  firstName: "KEee",
  country: "中国",
  hobbies: ["music", "coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Vue", "Astro"];

const skillColor = "green";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <h2>……这里是KEee的自我介绍</h2>
    <ul>
      <li>我的网名是{identity.firstName}</li>
      <li>我来自{identity.country}</li>
      <li>我喜欢{identity.hobbies.join("和")}</li>
      <li class="skill">I learn {skills.join(",")}</li>
    </ul>
    <img src="../img1.png" alt="" />
    <p>我正在学习 Astro 的入门教程。这是介绍自己的界面</p>

    <p>
      众所周知,博客难在维护,难在更新。所有我希望我能坚持下去,分享我的学习经验。
    </p>

    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
