---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageTitle = "关于我";

const identity = {
  firstName: "KEee",
  country: "中国",
  hobbies: ["music", "coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Vue", "Astro"];

const happy = true;
const finished = true;
const goal = 3;
const day = 18;

const skillColor = "pink";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <h2>……和我的新 Astro 网站！</h2>
    <ul>
      <li>我的网名是{identity.firstName}</li>
      <li>我来自{identity.country}</li>
      <li>我喜欢{identity.hobbies.join("和")}</li>
      <li class="skill">I learn {skills.join(",")}</li>
    </ul>

    <p>
      我正在学习 Astro
      的入门教程。这是我网站上的第二个页面，也是我自己建立的第一页面！
    </p>

    <p>
      随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧！
    </p>

    {happy && <p>我非常乐意学习 Astro！</p>}

    {finished && <p>我完成了这节教程！</p>}

    {goal === 3 ? <p>我的目标是在三天内完成。</p> : <p>我的目标是{day}天。</p>}

    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
